.chats-body {
  padding: 0px;
}

.chats-body .status-bar {
  padding: 10px 20px;
}

.chats-body .header {
  padding: 0 20px;
}
.chat-screen {
  background-image: url("C:/nomad-coder/kokoa-clone/images/chat-background.png");
  min-height: 120vh;
  color: wheat;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px#1D3244, 0 8px 16px -8px rgb(88, 88, 88),
    0 -6px 16px -6px #1d3244;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f5;
}

.chat__write i {
  font-size: 20px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  width: 100%;
  padding: 20px;
  border: none;
  font-size: 15px;
}

.chat__write-column input:focus {
  outline: none;
}
