.header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0px;
  background-color: white;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chats-body {
  padding: 0px;
  padding-top: 118px;
}

.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body .header {
  padding: 0 20px;
}
.chats-body {
  background-image: url("C:/nomad-coder/kokoa-clone/images/chat-background.png");
  min-height: 120vh;
  color: #8c6564;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0px;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in, border-radius 0.5s ease-in,
    transform 0.5s ease-in;
}

.chat__write:focus {
  outline: none;
  width: 80%;

  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__msg {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__msg .chat__timestamp {
  background-color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 10px 20px;
  text-transform: uppercase;
}

.msg {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.msg .msg__content {
  width: 90%;
}

.incoming-msg {
  align-self: flex-start;
}

.sent-msg {
  align-self: flex-end;
}

.incoming-msg img {
  width: 30px;
  border-radius: 12px;
  margin-right: 15px;
}

.msg .msg__bubble {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.incoming-msg .msg__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-msg .msg__bubble {
  border-bottom-left-radius: 0px;
}

.sent-msg .msg__bubble {
  border-bottom-right-radius: 0px;
}
