@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "C:/nomad-coder/kokoa-clone/css/reset.css";
@import "C:/nomad-coder/kokoa-clone/css/status-bar.css";
@import "C:/nomad-coder/kokoa-clone/css/header.css";
@import "C:/nomad-coder/kokoa-clone/css/nav-bar.css";

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 10px 20px;
  height: 1000px;
  color: #0e0e0e;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}
.g-avatar {
  height: 50px;
  width: auto;
}
